<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
</head>
<!-- <style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    } -->
</style>

<body class="bg-blue-100">
    <header class="bg-green-700 text-white py-4">
        <div class="max-w-7xl mx-auto px-4">
            <h1 class="text-3xl font-bold p-2">{% block header %}To-Do{% endblock %}</h1>
            <nav class="flex justify-between items-center">
                <ul class="flex">
                    <li>
                        <a class="text-white px-3 py-2 rounded hover:bg-green-400" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li>
                        <a class="text-white px-3 py-2 rounded hover:bg-green-400" href="{% url 'task-list' %}">Lista de
                            Tareas</a>
                    </li>
                    {% if request.user.is_authenticated %}

                    <li>
                        <a class="text-white px-3 py-2 rounded hover:bg-green-400" href="{% url 'create-task' %}">Crear
                            Tarea</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="flex  ">
                    {% if request.user.is_authenticated %}
                    <div class="flex items-center rounded bg-green-600">

                        <strong class="font-bold text-white py-2 px-4">Hola {{ request.user.username }}!</strong>
                        <li>
                            <a class="text-white px-3 py-2 rounded hover:bg-red-500" href="{% url 'logout' %}">Cerrar
                                Sesión</a>
                        </li>
                    </div>

                    {% else %}
                    <li>
                        <a class="text-white px-3 py-2 rounded hover:bg-gray-700" href="{% url 'login' %}">Iniciar
                            Sesión</a>
                    </li>
                    <li>
                        <a class="text-white px-3 py-2 rounded hover:bg-gray-700"
                            href="{% url 'signup' %}">Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container mx-auto py-4 px-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-gray-800 text-white mt-24 py-3">
        <div class="text-center">
            <p class="mb-0 ">© {% now "Y" %} Mi Proyecto</p>
        </div>
    </footer>
</body>

</html>