{% extends "base.html" %} {% load form_tags %} {% block content %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
<style>
    * {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body {
        background-color: rgb(238, 237, 199);
    }
</style>

<div class="max-w-lg mx-auto p-5 bg-white shadow-xl mt-10 rounded">
    <a href="{% url 'task-list' %}" class="text-blue-500 hover:text-blue-600 font-bold">← Volver a la lista de
        tareas</a>
    <h1 class="text-2xl font-bold mb-4 text-blue-500 p-5">Editar Tarea</h1>
    <form method="post" class="space-y-3">
        {% csrf_token %}
        <div class="mb-4">
            <label for="title" class="block text-blue-500 font-semibold mb-2">
                Título</label> {{ form.title|add_class:"block w-full p-2 border border-gray-300 rounded" }}
        </div>
        <div class="mb-4">
            <label for="description" class="block text-blue-500 font-semibold mb-2">
                Descripción</label> {{ form.description|add_class:"block w-full p-2 border border-gray-300 rounded" }}
        </div>
        <div class="mb-4">
            <label for="status" class="block text-blue-500 font-semibold mb-2">
                Estado</label> {{ form.status|add_class:"block w-full p-2 border border-gray-300 rounded" }}
        </div>
        <div class="flex justify-end space-x-4">
            <a href="{% url 'task-list' %}"
                class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">Cancelar</a>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Actualizar
            </button>
        </div>
    </form>
</div>
{% endblock %}